@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>L-Uber</h1>
    <p class="lead">L-Uber is where you book your ride and can rest assured that it is legal in Germany  and that your driver has been checked by a reputable mini-cab company</p>
    <p><a href="/home/book" class="btn btn-primary btn-lg">book a ride &raquo;</a></p>
</div>

